@import './fonts.scss';

$text-color: #3b3b3b;
$accent-color: #700d57;
$light-color: #e6e6e6;
$borders: #a7a7a7;

$main-regular: 'main-regular';
$main-bold: 'main-bold';
$main-black: 'main-black';  
$main-light: 'main-light';  
$main-medium: 'main-medium';  
$main-thin: 'main-thin';    
$main-italic: 'main-italic';   